<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body id="app">
    <div class="container" >
        <div class="bgTop" ></div>
        <div class="bgBotton" ></div>

        <div class="chatContainer">

            <!-- /************************************/
            /************** USER ***************/ -->
            <div class="users">

                <div class="usserStatic">

                    <div class="userStaticLeft"> 
                        <div> <img class="imgIo" src="./img/avatar_io.jpg" alt=""> </div>
                        <span class="centroV">Sofia  </span>
                    </div>
                    <div class="userStaticRight">
                        <div><i class="fa-solid fa-circle-notch fg-grey-icon "></i></div>
                        <div><i class="fa-solid fa-message fg-grey-icon "></i></div>
                        <div><i class="fa-solid fa-ellipsis-vertical fg-grey-icon "></i></div>
                    </div>

                </div>

                <div class="notice">
                    <div class="bell"> <i class="fa-solid fa-bell-slash bg-white fg-skyblue"></i></div>
                    <div class="notices">
                        <p> <strong>Ricevi notifiche di nuovo messaggi</strong></p>
                        <p> <ins>Attiva notifiche desktop</ins></p>
                    </div>
                </div>

                <div class="search">
                    <div class="searchIcon centro"><i class="fa-solid fa-magnifying-glass fg-grey-icon"></i></div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="usersConteiner">

                    <div v-for="utenti,i in contacts" class="user" @click="activeUtente = i">
                        <div class="userImg"> <img :src="contacts[i].avatar" alt=""></div>
                        <div class="userName">
                            <h3>{{contacts[i].name}}</h3>
                            <p class="fg-grey-icon">Ultimo messaggio inviato</p>
                        </div>
                        <div class="userHours">12:00</div>
                    </div>

                </div>


            </div>

            <!-- /**************************************************************/
            /****************************** MSN *************************/ -->
            <div class="msn">

                <div class="usserStatic">

                    <div class="mnsLeft"> 
                        <div class="imgMmnsLeft "> <img  :src="contacts[activeUtente].avatar" alt=""> </div>
                        <div >
                            <h3>{{contacts[activeUtente].name}}</h3>
                            <p class="fg-grey-icon">Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>
                    
                    <div class="mnsRight centro">
                        <div><i class="fa-solid fa-magnifying-glass fg-grey-icon"></i></div>
                        <div><i class="fa-solid fa-paperclip  fg-grey-icon"></i></div>
                        <div><i class="fa-solid fa-ellipsis-vertical fg-grey-icon "></i></div>
                    </div>

                </div>

                <div class="messages">
                
                    <div  v-for="mess,i in contacts[activeUtente].messages" class="cambioStatus(i)">
                        <div class="message bgMessSent" >
                            <div class="centro">
                              
                            </div>
                            <div class="messageHours">  {{ contacts[activeUtente].messages[i].date }} </div>
                        </div>
                    </div>

                    <!-- <div class="messageReceived     messageSent">
                        <div class="message bg-white">
                            <div class="centro">
                                Ricordati di stendere i panni
                            </div>
                            <div class="messageHours"> 15:30</div>
                        </div>
                    </div> -->
                            

                       
                </div>

                <div  class="typeMessages">

                    <div  class="iconsMessages centro"> <i class="fa-regular fa-face-smile fg-grey-icon2"></i></div>

                    <div class="textMessage"> <input type="text" placeholder="Srivi un messaggio"> </div>

                    <div class="iconsMessages centro"><i class="fa-solid fa-microphone fg-grey-icon2"></i></div>
                    
                </div>
                
            </div>

        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>
    












